extends ../layouts/default.pug

block site__content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        main.page-main(role='main')
          h1.section-title Страница не найдена!
          .page-content
            .404__thumb
              img(src='Img/404/404.jpg', alt='')
            .404__description
              p
                | К сожалению, запрашиваемая страница не найдена. Воспользуйтесь основным меню сайта.
