extends ../layouts/default.pug

block site__content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .page.blog
          .page__header
            h1.page__title
          .page__content.blog__content
            section.blog__one
              .row
                .col-sm-5.col-md-4.col-lg-3
                  a(href='#')
                    .blog__thumb
                      img(src='assets/images/blog/blog_1.jpg')
                .col-sm-7.col-md-8.col-lg-9
                  .blog__headline
                    h3.blog__name
                     a.blog__link(href='#')
                      | Lorem ipsum dolor sit amet
                    .blog__date
                      | 23:10
                  a.blog__link(href='#')
                    .blog__description
                      p
                        | Fusce consequat, quam ut efficitur vulputate, urna eros bibendum massa, id malesuada erat dui maximus orci. Proin euismod, eros in gravida venenatis, urna nisl vehicula massa, eu placerat felis diam viverra felis. Aliquam consequat neque porttitor ante condimentum imperdiet. Fusce ultricies placerat mauris, a dapibus nulla iaculis sed. Duis eleifend ornare fermentum.
                  a.btn.btn-success(href='#')
                    | Подробнее
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .page.blog
          .page__header
            h1.page__title
          .page__content.blog__content
            section.blog__one
              .row
                .col-sm-5.col-md-4.col-lg-3
                  a(href='#')
                    .blog__thumb
                      img(src='assets/images/blog/blog_1.jpg')
                .col-sm-7.col-md-8.col-lg-9
                  a.blog__link(href='#')
                    h3.blog__name
                      | Lorem ipsum dolor sit amet
                  a.blog__link(href='#')
                    .blog__description
                      p
                        | Fusce consequat, quam ut efficitur vulputate, urna eros bibendum massa, id malesuada erat dui maximus orci. Proin euismod, eros in gravida venenatis, urna nisl vehicula massa, eu placerat felis diam viverra felis. Aliquam consequat neque porttitor ante condimentum imperdiet. Fusce ultricies placerat mauris, a dapibus nulla iaculis sed. Duis eleifend ornare fermentum.
                  a.btn.btn-success(href='#')
                    | Подробнее
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .page.blog
          .page__header
            h1.page__title
          .page__content.blog__content
            section.blog__one
              .row
                .col-sm-5.col-md-4.col-lg-3
                  a(href='#')
                    .blog__thumb
                      img(src='assets/images/blog/blog_1.jpg')
                .col-sm-7.col-md-8.col-lg-9
                  a.blog__link(href='#')
                    h3.blog__name
                      | Lorem ipsum dolor sit amet
                  a.blog__link(href='#')
                    .blog__description
                      p
                        | Fusce consequat, quam ut efficitur vulputate, urna eros bibendum massa, id malesuada erat dui maximus orci. Proin euismod, eros in gravida venenatis, urna nisl vehicula massa, eu placerat felis diam viverra felis. Aliquam consequat neque porttitor ante condimentum imperdiet. Fusce ultricies placerat mauris, a dapibus nulla iaculis sed. Duis eleifend ornare fermentum.
                  a.btn.btn-success(href='#')
                    | Подробнее
