extends ../layouts/default.pug

block site__content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .page
          .page__header
            h1.page__title
              | Контакты
          .page-content
            .row
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                .map
                  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95777.33906373222!2d2.0787281749528796!3d41.394897593327535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49816718e30e5%3A0x44b0fb3d4f47660a!2sBarcelona!5e0!3m2!1sen!2ses!4v1516813835229', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                .contact
                  ul.contact__list
                    li.contact__item
                      | Телефон: +7 (123)456-99999
                    li.contact__item
                      | Адрес: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    li.contact__item
                      | Время работы: с 09:00 до 20:00 без выходных
                form.form
                  .form-group
                    .input-group
                      .input-group-addon
                        span.glyphicon.glyphicon-user(aria-hidden='true')
                      input#exampleInputAmount.form-control(type='text', placeholder='Ваше имя')
                  .form-group
                    .input-group
                      .input-group-addon
                        span.glyphicon.glyphicon-envelope(aria-hidden='true')
                      input#exampleInputAmount.form-control(type='text', placeholder='Ваш почтовый ящик')
                  .form-group
                    textarea.form-control(rows='5', placeholder='Задайте вопрос или напишите Ваши пожелания')
                  button.btn.btn-danger(type='submit') Отправить сообщение админинстратору
