extends ../layouts/default.pug

block site-content
  section.main-section
    .overlay
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .wrap-main
            h1.main-title Мастер классы высочайшего уровня и техники
            .main-desc Только проверенные рецепты
            .wrap-btn
              button.btn.btn-danger.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
                | Записаться
  section.serv-section
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h2.section-title Мастер-классы
      .row
        .col-xs-12.col-sm-3.col-md-3.col-lg-3
          article.serv-item
            .serv-item-img
              a(href='#')
                img(src='Img/serv/serv.jpg', alt='')
            h3.serv-item-title
              a(href='#') Предложение 1
            .serv-item-desc
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
        .col-xs-12.col-sm-3col-md-3.col-lg-3
          article.serv-item
            .serv-item-img
              a(href='#')
                img(src='Img/serv/serv.jpg', alt='')
            h3.serv-item-title
              a(href='#') Предложение 2
            .serv-item-desc
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
        .col-xs-12.col-sm-3col-md-3.col-lg-3
          article.serv-item
            .serv-item-img
              a(href='#')
                img(src='Img/serv/serv.jpg', alt='')
            h3.serv-item-title
              a(href='#') Предложение 3
            .serv-item-desc
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
        .col-xs-12.col-sm-3col-md-3.col-lg-3
          article.serv-item
            .serv-item-img
              a(href='#')
                img(src='Img/serv/serv.jpg', alt='')
            h3.serv-item-title
              a(href='#') Предложение 4
            .serv-item-desc
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
  section.clients-section
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h2.section-title Выбор мастер класса
      .row
        .col-xs-12.col-sm-5.col-md-5.col-lg-5
          .clients-img
            img(src='Img/Clients/clients.jpg', alt='')
        .col-xs-12.col-sm-7.col-md-7.col-lg-7
          .page-desc
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati neque sequi qui, placeat, minima eum laudantium amet. Aliquam dignissimos ullam ipsam fuga accusantium asperiores, vitae molestiae dolor praesentium saepe sit esse sed, laudantium vel quod placeat repudiandae cupiditate modi neque, ea, voluptatum iusto aperiam incidunt rem. Qui, possimus tempora quia. Cupiditate illum ratione doloribus vel, qui a expedita inventore dolorem recusandae soluta excepturi consequatur temporibus quis, debitis veritatis saepe voluptatibus architecto beatae molestiae tempora suscipit repudiandae! Tempore dignissimos suscipit asperiores sapiente rem sunt voluptate natus quidem voluptatem, inventore expedita, perspiciatis soluta qui laudantium iusto, facere numquam. Architecto aut nobis quis?
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .wrap-btn
            button.btn.btn-danger.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
              | Записаться
