extends ../layouts/default.pug

block site__content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        main.page-main(role='main')
          h1.section-title Мастер-классы
          .page-content
            .row
              .col-xs-12.col-sm-3col-md-3.col-lg-3
                article.serv-item
                  .serv-item-img
                    a(href='#')
                      img(src='Img/serv/serv.jpg', alt='')
                  h3.serv-item-title
                    a(href='#') Предложение 1
                  .serv-item-desc
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
              .col-xs-12.col-sm-3col-md-3.col-lg-3
                article.serv-item
                  .serv-item-img
                    a(href='#')
                      img(src='Img/serv/serv.jpg', alt='')
                  h3.serv-item-title
                    a(href='#') Предложение 2
                  .serv-item-desc
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
              .col-xs-12.col-sm-3col-md-3.col-lg-3
                article.serv-item
                  .serv-item-img
                    a(href='#')
                      img(src='Img/serv/serv.jpg', alt='')
                  h3.serv-item-title
                    a(href='#') Предложение 3
                  .serv-item-desc
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
              .col-xs-12.col-sm-3col-md-3.col-lg-3
                article.serv-item
                  .serv-item-img
                    a(href='#')
                      img(src='Img/serv/serv.jpg', alt='')
                  h3.serv-item-title
                    a(href='#') Предложение 4
                  .serv-item-desc
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
            .row
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .page-desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis culpa natus quaerat aliquid ab corporis quasi veniam consectetur eaque at eos fugit tenetur mollitia, saepe et odio incidunt, ut id fuga. Blanditiis at maiores nam iusto voluptatibus quam accusantium laboriosam maxime, minima doloribus harum, optio quod eum quis nemo provident deleniti sint non ex sit ad vel, porro. Doloremque consectetur vel a officiis cumque in, libero. Impedit blanditiis asperiores laudantium mollitia laborum, minima rem iusto consequuntur! Repellat cum sapiente deleniti alias! Dolorem tenetur voluptatem minima, quas odit unde accusamus. Provident quis eaque, suscipit sapiente minima assumenda blanditiis fugiat at hic.
        .wrap-btn
          button.btn.btn-danger.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
            | Записаться
