extends ../layouts/default.pug

block site__content
  .container
    .row
      .col-sm-10.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
        .category
          .category__header
            h1.category__title
              | Рецепты
            ul.category__navigation
              li
                a(href='#')
                  | Все
              li
                a(href='#')
                  | Закуски
              li
                a(href='#')
                  | Мясо
              li
                a(href='#')
                  | Напитки
              li
                a(href='#')
                  | Паста
              li
                a(href='#')
                  | Салаты
              li
                a(href='#')
                  | Соусы
              li
                a(href='#')
                  | Супы
          .category__content
            .row
              .col-sm-4.col-md-3.category__one
                a(href='#').other
                  .other__transform
                    .other__front
                      .other__thumb
                        img(src='assets/images/recipes/recipe_01.jpg', alt='')
                    .other__back
                      h2.other__name.center-block
                        | Lorem ipsum dolor sit amet
                      .other__description.center-block
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam necessitatibus, repellendus praesentium ratione ullam quas quos, expedita eius est quasi corporis soluta similique, nemo sequi!
              .col-sm-4.col-md-3.category__one
                a(href='#').other
                  .other__transform
                    .other__front
                      .other__thumb
                        img(src='assets/images/recipes/recipe_01.jpg', alt='')
                    .other__back
                      h2.other__name.center-block
                        | Lorem ipsum dolor sit amet
                      .other__description.center-block
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam necessitatibus, repellendus praesentium ratione ullam quas quos, expedita eius est quasi corporis soluta similique, nemo sequi!
              .col-sm-4.col-md-3.category__one
                a(href='#').other
                  .other__transform
                    .other__front
                      .other__thumb
                        img(src='assets/images/recipes/recipe_01.jpg', alt='')
                    .other__back
                      h2.other__name.center-block
                        | Lorem ipsum dolor sit amet
                      .other__description.center-block
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam necessitatibus, repellendus praesentium ratione ullam quas quos, expedita eius est quasi corporis soluta similique, nemo sequi!
              .col-sm-4.col-md-3.category__one
                a(href='#').other
                  .other__transform
                    .other__front
                      .other__thumb
                        img(src='assets/images/recipes/recipe_01.jpg', alt='')
                    .other__back
                      h2.other__name.center-block
                        | Lorem ipsum dolor sit amet
                      .other__description.center-block
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam necessitatibus, repellendus praesentium ratione ullam quas quos, expedita eius est quasi corporis soluta similique, nemo sequi!
              .col-sm-4.col-md-3.category__one
                a(href='#').other
                  .other__transform
                    .other__front
                      .other__thumb
                        img(src='assets/images/recipes/recipe_01.jpg', alt='')
                    .other__back
                      h2.other__name.center-block
                        | Lorem ipsum dolor sit amet
                      .other__description.center-block
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam necessitatibus, repellendus praesentium ratione ullam quas quos, expedita eius est quasi corporis soluta similique, nemo sequi!
              .col-sm-4.col-md-3.category__one
                a(href='#').other
                  .other__transform
                    .other__front
                      .other__thumb
                        img(src='assets/images/recipes/recipe_01.jpg', alt='')
                    .other__back
                      h2.other__name.center-block
                        | Lorem ipsum dolor sit amet
                      .other__description.center-block
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam necessitatibus, repellendus praesentium ratione ullam quas quos, expedita eius est quasi corporis soluta similique, nemo sequi!
              .col-sm-4.col-md-3.category__one
                a(href='#').other
                  .other__transform
                    .other__front
                      .other__thumb
                        img(src='assets/images/recipes/recipe_01.jpg', alt='')
                    .other__back
                      h2.other__name.center-block
                        | Lorem ipsum dolor sit amet
                      .other__description.center-block
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam necessitatibus, repellendus praesentium ratione ullam quas quos, expedita eius est quasi corporis soluta similique, nemo sequi!
              .col-sm-4.col-md-3.category__one
                a(href='#').other
                  .other__transform
                    .other__front
                      .other__thumb
                        img(src='assets/images/recipes/recipe_01.jpg', alt='')
                    .other__back
                      h2.other__name.center-block
                        | Lorem ipsum dolor sit amet
                      .other__description.center-block
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam necessitatibus, repellendus praesentium ratione ullam quas quos, expedita eius est quasi corporis soluta similique, nemo sequi!
