extends ../layouts/default.pug

block site__content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .page
          .page__header
            h1.page__title
              | Рецепты
          .page__content
            .slider
              img(src='assets/Images/slider/slide_1.jpg', alt='')
            .recipe__description
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam necessitatibus, repellendus praesentium ratione ullam quas quos, expedita eius est quasi corporis soluta similique, nemo sequi! Eius adipisci aut reiciendis voluptate tempora doloremque, excepturi pariatur provident quaerat ab porro nulla odio dolore, voluptates praesentium. Iure deserunt officia voluptas ex debitis dolor facilis culpa laudantium, nulla laborum amet tempora assumenda ea provident adipisci commodi doloremque quae consequatur inventore id optio modi vel velit eum mollitia? Sit aperiam natus molestias impedit. Eius fugiat libero quibusdam iste ducimus fugit, distinctio dolores consectetur tempore. Culpa, harum tempore enim corporis incidunt aliquid id, facere unde.
          .wrap-btn.text-center
            button.btn.btn-danger.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
              | Записаться
