extends ../layouts/default.pug

block site__content
  .container
    .row
      .col-xs-12.col-sm-8.col-md-8.col-lg-9
        article.page.single
          .page__header
            h1.page__title
              | Мастер класс "Шоколатье"
          .page__content
            .slider
              img(src='assets/images/slider/slide_2.jpg', alt='')
            .single__description
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias dicta possimus earum dolore laboriosam voluptates, sed a quos soluta autem. Minima sapiente repudiandae debitis nam velit repellendus eveniet quaerat, dolore fugit. Nihil odio a ratione veniam magni nemo error est corrupti nobis, iusto ipsam blanditiis earum quo officiis perferendis, illum soluta id accusantium necessitatibus, consectetur in. Fugiat tempora magnam provident asperiores sed autem reiciendis eaque corporis eligendi, possimus consectetur similique perferendis, natus, ratione nam! Nostrum tenetur culpa at maxime commodi praesentium voluptatum illum quae, minus atque. Expedita id dolore hic laudantium consequuntur, sapiente, nulla a necessitatibus esse tempore explicabo maxime!
          .wrap-btn.text-center
            button.btn.btn-danger.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
              | Записаться
      .hidden-xs.col-sm-4.col-md-4.col-lg-3
        include ../includes/sidebar.pug
