section.section.client
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2.section__title
          | Выбор мастер класса
    .row
      .col-xs-12.col-sm-5.col-md-5.col-lg-5
        .client__thumb
          img(src='assets/images/client/clients.jpg', alt='')
      .col-xs-12.col-sm-7.col-md-7.col-lg-7
        .client__description
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati neque sequi qui, placeat, minima eum laudantium amet. Aliquam dignissimos ullam ipsam fuga accusantium asperiores, vitae molestiae dolor praesentium saepe sit esse sed, laudantium vel quod placeat repudiandae cupiditate modi neque, ea, voluptatum iusto aperiam incidunt rem. Qui, possimus tempora quia. Cupiditate illum ratione doloribus vel, qui a expedita inventore dolorem recusandae soluta excepturi consequatur temporibus quis, debitis veritatis saepe voluptatibus architecto beatae molestiae tempora suscipit repudiandae! Tempore dignissimos suscipit asperiores sapiente rem sunt voluptate natus quidem voluptatem, inventore expedita, perspiciatis soluta qui laudantium iusto, facere numquam. Architecto aut nobis quis?
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .wrap-btn.text-center
          button.btn.btn-danger.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
            | Записаться
