footer.site__footer.footer
	.wrapper
		.corpinfo
			| Автотехцентр Полюс-Трек
		.footer__line
		.copyright
			| Использование материалов возможно только с письменного согласия владельца
		include webmikorn.pug