footer.site__footer
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .corpinfo
          | Master Class by Nika Diaz, 2018
        .copyright
          | Использование материала возможно только с согласия владельца
