section.main.section
  .main__header
    h1.main__title.text-center
      | Мастер классы высочайшего уровня и техники
    .main__subtitle.text-center
      | Только проверенные рецепты
    .wrap-btn.text-center
      button.btn.btn-danger.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
        | Записаться
