#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Отправьте заявку:
      .modal-body
        form.form-inline
          | =======
          .form-group
            label(for='exampleInputName2') Имя
            input#exampleInputName2.form-control(type='text', placeholder='Jane Doe')
          .form-group
            label(for='exampleInputEmail2') Email
            input#exampleInputEmail2.form-control(type='email', placeholder='jane.doe@example.com')
        |  ========
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
        button.btn.btn-danger(type='button') Отправить
