section.section.service
  .container
    .row
      .col-sm-12
        h2.section__title
          | Мастер-классы
    .row
      .col-xs-12.col-sm-3.col-md-3.col-lg-3
        article.service__one
          .service__thumb
            a(href='#')
              img(src='assets/images/service/serv.jpg', alt='')
          h3.service__name
            a(href='#')
              | Предложение 1
          .service__description
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
      .col-xs-12.col-sm-3col-md-3.col-lg-3
        article.service__one
          .service__thumb
            a(href='#')
              img(src='assets/images/service/serv.jpg', alt='')
          h3.service__name
            a(href='#')
              | Предложение 2
          .service__description
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
      .col-xs-12.col-sm-3col-md-3.col-lg-3
        article.service__one
          .service__thumb
            a(href='#')
              img(src='assets/images/service/serv.jpg', alt='')
          h3.service__name
            a(href='#')
              | Предложение 333
          .service__description
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
      .col-xs-12.col-sm-3col-md-3.col-lg-3
        article.service__one
          .service__thumb
            a(href='#')
              img(src='assets/images/service/serv.jpg', alt='')
          h3.service__name
            a(href='#')
              | Предложение 4
          .service__description
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur unde veritatis iure. Minus, deserunt.
