.sidebar
  .sidebar__header
    h3.sidebar__title
      | Мастер-классы:
  .sidebar__content
    h4.sidebar__item
      a(href='#')
        | Шоколад
    h4.sidebar__item
      a(href='#')
        | Базовые основы
    h4.sidebar__item
      a(href='#')
        | Декор
    h4.sidebar__item
      a(href='#')
        | Торты
    h4.sidebar__item
      a(href='#')
        | Разное
