.main__subtitle
  color lightColor
  font-size round(fontSize * 1.2)
  margin-top 10px
  text-shadow 1px 1px 2px darkColor
  @media only screen and (min-width: sm)
    font-size round(fontSize * 1.4)
