.other__transform
  display block
  position relative
  width 100%
  height 100%
  transition 1.5s
.other__transform:hover
  .other__front
    transform rotateY(-90deg)
  .other__back
    transform rotateY(0deg)
    transition 1.5s